

spring:
  application:
    name: taco-cloud

  #off thymeleaf templates cache, this is not needed then springDevTools are using
  # thymeleaf:
  #   cache: false

  datasource:
    #disable autogenerate name for database
    generate-unique-name: false
    #set name for database
    name: tacocloud
    driver-class-name: org.h2.Driver
    username: sa
    password: password

  security:
    oauth2:
      client:
        registration:
          github:
            provider: github
            client-id: Ov23lixOjHA9hmDhyTPf
            client-secret: 6a16f60efa845a35b0335f850bcf80e6038fd111
            scope: read:user
  data:
    rest:
      base-path: /data-api

logging:
  level:
    org.springframework:
      orm:
        jpa: debug
      data:
        jpa:
          repository:
            query: debug
      security: debug

